@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background : #0a0c1b;
}
.container{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55vh;
    width: 65vw;
    border-radius: 10px;
    overflow:hidden;
}
.part-1{
    background: #1c1938;
    width: 50%;
}
.part-1 span{
    color: #a357d3;
}
.part-2{
    background-color: #a357d3;
    position: relative;
    opacity: 1;
}
.part-2::after{

    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #a357d3;
    background-blend-mode: darken;
    opacity: .7;
}